.checkbox {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 23px;
}

.checkbox::before,
.checkbox::after {
  content: "";
  box-sizing: border-box;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  place-self: center;
  width: 56px;
  height: 56px;
  border-radius: 5px;
  background-color: hsla(0, 0, 95, 100%);
}

.checkbox::after {
  width: 25px;
  height: 24px;
  mask-image: url("../../img/stack.svg#check-on-icon");
  mask-repeat: no-repeat;
  background-color: hsla(0, 0, 20, 1);
}
