.features-item {
  padding-top: 30px;
}

.features-item__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 0;

}



.features-item__description {
  margin-bottom: 0;
  padding-top: 30px;
}
