.features-item {
  padding-top: 30px;
}

.features-item__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 0;
}

.features-item__description {
  margin-bottom: 0;
  padding-top: 30px;
}

.features-item__image {
  object-fit: none;
}

@media (min-width: 768px) {
  .features-item {
    padding-top: 0;
  }

  .features-item__image {
    height: 256px;
  }

  .features-item__text {
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .features-item__description {
    margin-bottom: 0;
    padding-top: 80px;
  }

  .features-item__first {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 256px 512px;
  }

  .features-item__second {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 512px 256px;
  }

  .features-item__second .features-item__image {
    order: -1;
  }

  .features-item__third {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .features-item__fourth {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .features-item__fifth {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

@media (min-width: 1200px) {
  .features-item__first {
    grid-template-columns: 400px 800px;
  }

  .features-item__second {
    grid-template-columns: 800px 400px;
  }
}
