.feature {
  padding-top: 30px;
}

.feature__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 0;
  position: relative;
}

.feature__title::before {
  content: "— №"  counter(count)  " —";
  position: absolute;
  font-weight: 400;
  top: 70px;
  left: 126px;
  width: max-content;
}

.feature__description {
  margin-bottom: 0;
  padding-top: 70px;
}

.feature__image {
  object-fit: cover;
  display: block;
  width: 100%;
}

.feature__first {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.feature__second {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}


@media (min-width: 768px) {
  .feature {
    padding-top: 0;
  }

  .feature__wrapper {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .feature__image {
    height: 256px;
  }

  .feature__title::before {
    left: 100px;
  }


  .feature__description {
    margin-bottom: 0;
    padding-top: 80px;
  }

  .feature__first {
    grid-template-columns: minmax(256px, max-content) minmax(512px, max-content);
  }

  .feature__second {
    grid-template-columns: minmax(512px, max-content) minmax(256px, max-content);
  }

  .feature__second picture {
    order: -1;
  }
}

@media (min-width: 1200px) {
  .feature__wrapper {
    padding-top: 49px;
    padding-left: 35px;
    padding-right: 40px;
  }

  .feature__first {
    grid-template-columns: minmax(400px, max-content) minmax(800px, max-content);
  }

  .feature__second {
    grid-template-columns: minmax(800px, max-content) minmax(400px, max-content);
  }

  .feature__title::before {
    left: 135px;
  }
}
