
.features-list {
  counter-reset: count;
}

.features-list__item {
  background-color: hsla(0, 0, 93, 100%);
  position: relative;
  counter-increment: count;
}

.features-list__item::before {
  content: "— "  counter(count)  " —";
  position: absolute;
  top: 70px;
  left: 140px;
}

.features-list__item:first-child {
  background-image: url("../../img/body-mask.svg");
  background-repeat: no-repeat;
  padding-top: 55px;
}

.features-list__item:first-child::before {
  top: 90px;
}

.features-list__item--illustrated {
  color: white;
  background-color: hsla(203, 47, 66, 100%);
  padding-top: 40px;
}
