.feature {
  padding-bottom: 1px;
}

.feature__wrapper {
  padding-top: 26px;
}

.feature__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.feature__title::before {
  content: "— №"  counter(count)  " —";
  position: absolute;
  font-weight: 400;
  top: 34px;
  left: 135px;
  font-size: 14px;
  width: max-content;
}

.feature__description {
  margin-bottom: 38px;
  padding-top: 35px;
}

.feature__image {
  object-fit: cover;
  display: block;
  width: 100%;
}


@media (min-width: 768px) {
  .feature {
    padding-top: 0;
  }

  .feature__title {
    padding-right: 41px;
    padding-left: 40px;
    font-size: 21px;
    line-height: 26px;
  }

  .feature__wrapper {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .feature__image {
    height: 100%;
  }

  .feature__title::before {
    top: 62px;
    left: 93px;
  }


  .feature__description {
    margin-bottom: 0;
    padding-top: 44px;
    padding-left: 22px;
    padding-right: 18px;
  }
}

@media (min-width: 1200px) {
  .feature__wrapper {
    padding-top: 49px;
    padding-left: 35px;
    padding-right: 40px;
  }

  .feature__title {
    padding-right: 58px;
    padding-left: 62px;
  }

  .feature__title::before {
    top: 61px;
    left: 140px;
  }

  .feature__description {
    padding-top: 42px;
  }
}
