.footer-social {
  display: flex;
  justify-content: center;
}

.footer-social__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6px;
  padding: 0;
}

.footer-social__item {
  position: relative;
  display: flex;
  width: 46px;
  height: 48px;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.footer-social__item svg {
  fill: hsla(0, 0, 100, 1);
}

.footer-social__item:active svg {
  fill: hsla(0, 0, 100, 0.3);
}

@media (min-width: 768px) {
  .footer-social {
    margin-left: -10px;
    margin-top: 6px;
  }
}
