.form {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 40px;
  position: relative;
}

.form__part {
  margin: 0;
  width: 100%;
}

.form__wrapper {
  border-top: hsla(0, 0, 90, 100%) solid 1px;
  width: 100%;
}

.form__emotions {
  height: 272px;
}

.form__footer {
  border-top: none;
}

.form__button {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  width: 280px;
}

.form__note {
  display: none;
}


@media (min-width: 768px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    padding-top: 41px;
    padding-bottom: 61px;
  }

  .form__wrapper {
    border: none;
  }

  .form__name {
    width: 49%;
  }

  .form__feeling {
    width: 50%;
    order: -1;
    border-right: hsla(0, 0, 86, 1) solid 1px;
  }

  .form__contacts {
    padding-top: 24px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .form__contacts .part-form__ешеду {
    padding-bottom: 9px;
  }

  .form__contacts .part-form__data {
    padding-bottom: 15px;
  }

  .form__attractions {
    padding-right: 40px;
    padding-left: 40px;
  }

  .form__emotions {
    padding-right: 40px;
    padding-left: 40px;
    height: auto;
  }

  .form__note {
    align-self: center;
    display: block;
    padding: 5px 2px 0;
    text-align: right;
  }

  .form__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  .form__button {
    width: auto;
    padding-right: 75px;
    padding-left: 66px;
    padding-top: 18px;
    padding-bottom: 14px;
  }
}

@media (min-width: 1200px) {
  .form {
    padding-bottom: 66px;
    padding-top: 41px;
  }

  .form__feeling {
    padding-left: 63px;
    padding-right: 9px;
    width: 44%;
  }

  .form__name {
    padding-left: 4px;
    width: 47%;
  }

  .form__contacts {
    padding-left: 120px;
    padding-right: 120px;
  }

  .form__attractions {
    padding-right: 41px;
    padding-left: 41px;
  }

  .form__button {
    padding-right: 147px;
    padding-left: 150px;
  }

  .form__footer {
    padding-left: 120px;
    padding-right: 120px;
  }
}
