.full-logo {
  width: 320px;
  height: 389px;
  background-color: hsla(203, 47, 66, 100%);
  background-image: url("../../img/header-mask.svg"), url("../../img/background-header.jpg");
  background-position: 0 332px, 0 0;
  background-repeat: no-repeat;
}
