.full-copyright {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 29px;
}

.full-copyright:hover svg {
  fill: hsla(203, 47, 66, 1);
}

.full-copyright:active svg {
  fill: hsla(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .full-copyright {
    height: 28px;
    gap: 12px;
    margin-top: 10px;
  }
}
