.mail-button::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 16px;
  background-image: url("../../img/stack.svg#icon-mail");
  background-repeat: no-repeat;
  top: 22px;
  right: 17px;
}
