.mail-button::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 12px;
  background-image: url("../../img/icon-mail.svg");
  background-repeat: no-repeat;
  top: 22px;
  right: 17px;
}
