.main-nav {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 320px;
  position: relative;
}


.main-nav--closed .main-nav__toggle {
  width: 22px;
  height: 21px;
  position: absolute;
  right: 20px;
  bottom: 17px;
  background-color: hsla(203, 47, 66, 1);
  border: none;
  mask-image: url("../../img/stack.svg#icon-menu");
}

.main-nav--closed .main-nav__toggle:focus,
.main-nav--closed .main-nav__toggle:hover {
  background-color: hsla(203, 47, 66, 0.6);
}

.main-nav--closed .main-nav__toggle:active {
  background-color: hsla(203, 47, 66, 0.3);
}

.main-nav--opened .main-nav__toggle {
  width: 22px;
  height: 21px;
  position: absolute;
  right: 20px;
  top: 15px;
  background-color: hsla(0, 0, 100, 1);
  border: none;
  mask-image: url("../../img/stack.svg#icon-cross");
}

.main-nav--opened .main-nav__toggle:focus,
.main-nav--opened .main-nav__toggle:hover {
  background-color: hsla(0, 0, 100, 0.6);
}

.main-nav--opened .main-nav__toggle:active {
  background-color: hsla(0, 0, 100, 0.3);
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--opened .main-nav__list,
.main-nav--no-js .main-nav__list {
  display: grid;
}

.main-nav__list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: hsla(203, 47, 66, 100%);
  grid-template-columns: 1fr;
  box-shadow: inset 0 -3px 6px 0 rgba(0, 1, 1, 0.2);
}


.main-nav__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.2);
}

.main-nav__item:first-child a {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}

.main-nav__item:last-child a {
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2);
}

.main-nav__logo {
  display: flex;
  justify-content: center;
  margin-bottom: -28px;
}

@media (min-width: 768px) {
  .main-nav {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    min-width: 100%;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav--closed .main-nav__list,
  .main-nav--opened .main-nav__list,
  .main-nav--no-js .main-nav__list {
    display: grid;
  }

  .main-nav__list {
    grid-template-columns: repeat(5, 1fr);
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    background-color: white;
    box-shadow: none;
  }

  .main-nav__list::after {
    content: "";
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .main-nav__item:first-child a {
    box-shadow: none;
  }

  .main-nav__item:last-child a {
    box-shadow: none;
  }

  .main-nav__item a {
    width: 153px;
    color: black;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    box-shadow: none;
  }

  .main-nav__item a:hover,
  .main-nav__item a:focus {
    color: hsla(203, 47, 66, 1);
  }

  .main-nav__item a:active {
    color: hsla(0, 0, 0, 0.3);
  }

  .main-nav__item a:not([href]) {
    color: hsla(23, 15, 40, 1);
  }

  .main-nav__item a:not([href]):hover {
    color: hsla(23, 18, 32, 1);
  }

  .main-nav__item a:not([href]):active {
    color: hsla(23, 15, 40, 0.3);
  }

  .main-nav__logo {
    position: inherit;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    width: 1200px;
  }

  .main-nav__item a {
    width: 239px;
  }

  .main-nav__logo {
    margin-bottom: -41px;
  }
}
