.main-nav {
  background-color: hsla(203, 47, 66, 100%);
  width: 320px;
}

.main-nav__list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}


.main-nav__item a {
  display: block;
  color: white;
  height: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.main-nav__logo {
  position: absolute;
  top: 0;
  left: 109px;
}
