.main-page {
  background-color: hsla(0, 0, 100, 1);
}

.main-page__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-left: 20px;
  margin-right: 20px;
}

.main-page__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 2px;
}

@media (min-width: 768px) {
  .main-page__title {
    font-size: 30px;
  }
}
