.main-footer {
  background-color: hsla(0, 0, 100, 1);
}

@media (min-width: 768px) {
  .main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 23px;
  }
}

@media (min-width: 1200px) {
  .main-footer {
    padding-right: 120px;
    padding-left: 120px;
  }
}
