.main-nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 56px;
  grid-template-areas: "list" "logo";
  min-width: 320px;
  position: relative;
}

.main-nav__toggle {
  width: 23px;
  height: 23px;
  position: absolute;
  right: 20px;
  bottom: 17px;
}

.main-nav__list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: hsla(203, 47, 66, 100%);
  grid-area: list;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "item1" "item2" "item3" "item4";
}

.main-nav__item--first {
  grid-area: item1;
}

.main-nav__item--second {
  grid-area: item2;
}

.main-nav__item--third {
  grid-area: item3;
}

.main-nav__item--fourth {
  grid-area: item4;
}

.main-nav__item a {
  display: block;
  color: white;
  height: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.main-nav__logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .main-nav {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    grid-template-areas: none;
    min-width: 100%;
    height: 56px;
  }

  .main-nav__list {
    grid-template-areas: "item1 item2 . item3 item4";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
  }


  .main-nav__item a {
    width: 153px;
    color: black;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-nav__item a:hover,
  .main-nav__item a:focus {
    color: hsla(203, 47, 66, 1);
  }

  .main-nav__item a:active {
    color: hsla(0, 0, 0, 0.3);
  }

  .main-nav__item a:not([href]) {
    color: hsla(23, 15, 40, 1);
  }

  .main-nav__item a:not([href]):hover {
    color: hsla(23, 18, 32, 1);
  }

  .main-nav__item a:not([href]):active {
    color: hsla(23, 15, 40, 0.3);
  }

  .main-nav__logo {
    position: inherit;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: -28px;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    width: 1200px;
  }

  .main-nav__item a {
    width: 239px;
  }

  .main-nav__logo {
    margin-bottom: -41px;
  }
}
