.main-page {
  margin-top: 21px;
  background-color: hsla(0, 0, 100, 1);
}

.main-page--inner {
  margin-top: 3px;
  margin-bottom: 15px;
}

.main-page__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-left: 20px;
  margin-right: 20px;
}

.main-page__title--inner {
  margin-top: 23px;
  margin-bottom: 28px;
}

.main-page__title--form {
  margin-top: 33px;
}

.main-page__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 33px;
  margin-left: 25px;
  margin-right: 25px;
}

.main-page__subdescription--inner {
  margin-top: 0;
}

.main-page__description--inner {
  margin-top: 26px;
  margin-left: 20px;
  margin-right: 19px;
}

@media (min-width: 768px) {
  .main-page__title {
    font-size: 21px;
    padding-top: 10px;
  }

  .main-page__title .first-break {
    display: none;
  }

  .main-page__title--inner {
    font-size: 30px;
    padding-top: 35px;
  }

  .main-page__title--form {
    padding-top: 26px;
  }

  .main-page__subtitle {
    padding-top: 25px;
  }

  .main-page__description {
    padding-bottom: 39px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .main-page__description--inner {
    margin-top: 32px;
    padding-left: 143px;
    padding-right: 143px;
    margin-bottom: 8px;
  }

  .main-page__subdescription--inner {
    margin-left: 154px;
    margin-right: 156px;
    margin-top: 33px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}


@media (min-width: 1200px) {
  .main-page--catalog {
    margin-top: 13px;
  }

  .main-page__title {
    padding-top: 21px;
  }


  .main-page__title--inner {
    padding-top: 65px;
  }

  .main-page__title--form {
    padding-top: 78px;
  }

  .main-page__subtitle {
    padding-top: 27px;
  }

  .main-page__description {
    padding-bottom: 28px;
  }

  .main-page__subdescription {
    padding-right: 219px;
    padding-left: 219px;
    padding-bottom: 44px;
  }

  .main-page__description--inner {
    padding-right: 360px;
    padding-left: 360px;
    padding-bottom: 10px;
  }
}
