.page {
  text-align: center;
}

.page__body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  height: 100%;
  width: 320px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  background-color: white;
}

@media (min-width: 768px) {
  .page__body {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .page {
    background-color: hsla(0, 0, 95, 1);
  }

  .page__body {
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    width: 1200px;
  }
}


.page__wrapper {
  margin: 0 auto;
}

.page__a11y-hidden {
  position: fixed;
  transform: scale(0);
}
