@font-face {
  font-family: "PT Sans";
  src: url(../../fonts/ptsans.woff2) format("woff2"), url(../../fonts/ptans.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../../fonts/ptsansbold.woff2) format("woff2"), url(../../fonts/ptsansbold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.clear-list {
  list-style: none;
}

.page{
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
