.part-form {
  border: none;
  padding: 0;
}

.part-form__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-top: 20px;
  padding-bottom: 11px;
  width: 100%;
}

.part-form__list {
  list-style: none;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 13px;
  text-align: left;
  padding-right: 20px;
}

.part-form__name {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 0;
  gap: 14px;
}

.part-form__contacts {
  margin-top: 7px;
  margin-bottom: 27px;
}


.part-form__item label {
  margin: auto 0;
  line-height: 26px;
  font-size: 14px;
}

.part-form__contacts label {
  padding-left: 22px;
  display: block;
}


.part-form__item input[type="text"],
.part-form__item input[type="tel"],
.part-form__item input[type="email"] {
  box-sizing: border-box;
  width: 100%;
  border: 0;
  padding: 18px 22px 14px;
  background-color: #f2f2f2;
  color: #000000;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.part-form--error {
  outline: tomato 4px dashed;
  outline-offset: -4px;
}

.part-form__item input[type="text"]::placeholder,
.part-form__item input[type="tel"]::placeholder,
.part-form__item input[type="email"]::placeholder {
  color: #000000;
  opacity: 1;
}

.part-form__item:hover input[type="text"],
.part-form__item:hover input[type="tel"],
.part-form__item:hover input[type="email"] {
  background-color: hsla(0, 0, 90, 1);
}

.part-form__item input[type="text"]:focus,
.part-form__item input[type="tel"]:focus,
.part-form__item input[type="email"]:focus {
  outline: hsla(0, 0, 90, 1) 4px solid;
  background-color: hsla(0, 0, 100, 1);
  outline-offset: -4px;
}

.part-form__button {
  box-sizing: border-box;
  display: grid;
  place-items: center;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  border: 0;
  padding: 0;
  position: relative;
}

.part-form__button::before {
  box-sizing: border-box;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  border: 0;
}

.part-form__button--mail::before {
  background-image: url("../../img/stack.svg#icon-mail");
}

.part-form__button--phone::before {
  background-image: url("../../img/stack.svg#icon-phone");
}


.part-form__radio-button:active + .radio-button::after {
  background-color: hsla(0, 0, 20, 100%);
}

.part-form__radio-button:active + .radio-button::before {
  background-color: hsla(0, 0, 84, 100%);
}


.part-form__radio-button:hover + .radio-button::before,
.part-form__radio-button:focus + .radio-button::before {
  background-color: hsla(0, 0, 90, 100%);
}


.part-form__data {
  margin: 8px 0 12px;
  display: grid;
  grid-template-columns: 1fr max-content;
}

.part-form--feeling .part-form__title {
  padding-bottom: 22px;
}

.part-form__attractions {
  margin-bottom: -14px;
}

.part-form--attractions .part-form__title {
  padding-bottom: 20px;
  padding-top: 15px;
}

.part-form--attractions .part-form__control-wrapper {
  margin-bottom: 22px;
}

.part-form--attractions .part-form__control-wrapper:last-child {
  margin-bottom: 37px;
}

.part-form__control-wrapper {
  margin-bottom: 13px;
}

.part-form__control-wrapper:last-child {
  margin-bottom: 26px;
}

.part-form__radio-button + .radio-button::after {
  opacity: 0;
}

.part-form__radio-button:checked + .radio-button::after {
  opacity: 1;
}

.part-form__radio-label.part-form__radio-label,
.part-form__checkbox-label.part-form__checkbox-label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}

.part-form__checkbox-label.part-form__checkbox-label {
  padding-bottom: 2px;
}

.part-form__checkbox + .part-form__checkbox-label::after {
  opacity: 0;
}

.part-form__checkbox:checked + .part-form__checkbox-label::after {
  opacity: 1;
}

.part-form__checkbox:checked:active + .part-form__checkbox-label::after {
  background-color: hsla(0, 0, 20, 0.3);
}

.part-form__checkbox:active + .part-form__checkbox-label::before {
  background-color: hsla(0, 0, 84, 1);
}


.part-form__checkbox:hover + .part-form__checkbox-label::before,
.part-form__checkbox:focus + .part-form__checkbox-label::before {
  background-color: hsla(0, 0, 90, 1);
}

.part-form textarea {
  border: 0;
  background-color: #f2f2f2;
  width: 78%;
  height: 120px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 11px;
  padding-bottom: 28px;
  margin-top: 5px;
  margin-bottom: 49px;
  resize: vertical;
}

.part-form textarea::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.part-form textarea:hover {
  background-color: hsla(0, 0, 90, 1);
}

.part-form textarea:focus {
  outline: hsla(0, 0, 90, 1) 4px solid;
  background-color: hsla(0, 0, 100, 1);
  outline-offset: -4px;
}

@media (min-width: 768px) {
  .part-form__title {
    box-sizing: border-box;
    display: flex;
    gap: 60px;
    align-items: center;
    font-size: 21px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .part-form--emotions .part-form__title {
    padding-top: 26px;
    gap: 75px;
  }

  .part-form__title::before,
  .part-form__title::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    height: 1px;
    background: hsla(0, 0, 86, 1);
  }

  .part-form__name {
    padding-right: 54px;
  }

  .part-form--name .part-form__title,
  .part-form--feeling .part-form__title {
    display: block;
    text-align: left;
    margin-left: 58px;
    width: 75%;
  }

  .part-form--name .part-form__title {
    margin-bottom: 46px;
    padding: 0;
  }

  .part-form--feeling .part-form__title {
    margin-bottom: 56px;
    padding: 0;
  }

  .part-form--feeling .part-form__list {
    padding-left: 60px;
    padding-right: 0;
  }

  .part-form--name .part-form__list {
    padding-left: 57px;
    padding-right: 0;
  }

  .part-form--name .part-form__title::before,
  .part-form--feeling .part-form__title::before,
  .part-form--name .part-form__title::after,
  .part-form--feeling .part-form__title::after {
    display: none;
  }


  .part-form__item label {
    margin: auto 0;
  }

  .part-form__control-wrapper {
    margin-bottom: 23px;
  }

  .part-form__contacts {
    margin-top: 0;
    margin-bottom: 21px;
    padding-top: 12px;
  }

  .part-form__data {
    margin-right: 3px;
    margin-bottom: 8px;
    padding-bottom: 18px;
  }


  .part-form__attractions {
    display: flex;
    flex-wrap: wrap;
    padding-left: 115px;
    padding-right: 58px;
    margin-bottom: 4px;
  }

  .part-form--attractions .part-form__title::before {
    padding-right: 128px;
  }

  .part-form--attractions .part-form__title::after {
    padding-left: 128px;
  }

  .part-form--attractions .part-form__title {
    padding-top: 14px;
    padding-bottom: 42px;
  }

  .part-form__attractions .part-form__item {
    width: 50%;
  }

  .part-form--attractions .part-form__control-wrapper {
    margin-bottom: 30px;
  }

  .part-form textarea {
    box-sizing: border-box;
    margin-top: 45px;
    margin-bottom: 53px;
    min-height: 160px;
    width: 94%;
    padding: 17px 20px;
  }
}

@media (min-width: 1200px) {
  .part-form--name .part-form__title,
  .part-form--feeling .part-form__title {
    margin-left: 74px;
    margin-right: auto;
  }

  .part-form--feeling .part-form__title {
    text-align: center;
    padding-left: 3px;
  }

  .part-form--name .part-form__list {
    padding-left: 74px;
  }

  .part-form--feeling .part-form__list {
    padding-left: 62px;
  }

  .part-form__name {
    padding-right: 89px;
  }

  .part-form__contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    gap: 2px;
  }

  .part-form__contacts span {
    display: none;
  }

  .part-form__title {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 52px;
    justify-content: space-between;
  }

  .part-form__contacts .part-form__item {
    display: flex;
    gap: 16px;
  }

  .part-form__contacts label {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 14px;
  }

  .part-form__attractions {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 68px;
    padding-left: 0;
    padding-right: 0;
  }

  .part-form--attractions {
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 80px;
  }


  .part-form--attractions .part-form__title {
    padding-top: 7px;
    padding-bottom: 44px;
    margin: 0;
    width: auto;
  }

  .part-form__title::before,
  .part-form__title::after {
    box-sizing: border-box;
    width: 280px;
  }

  .part-form--attractions .part-form__control-wrapper {
    width: 100%;
  }

  .part-form--emotions {
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 80px;
  }

  .part-form--emotions .part-form__title {
    padding-top: 24px;
    margin: 0;
    width: auto;
  }

  .part-form--emotions .part-form__title::before {
    padding-right: 268px;
  }

  .part-form--emotions .part-form__title::after {
    padding-left: 268px;
  }

  .part-form__data {
    grid-template-columns: 1fr max-content;
    width: 316px;
    margin-right: 0;
  }

  .part-form textarea {
    width: 960px;
    font-size: 16px;
    padding: 20px 11px 22px 20px;
    margin-bottom: 53px;
  }
}
