.phone-button::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../../img/stack.svg#icon-phone");
  background-repeat: no-repeat;
  top: 22px;
  right: 15px;
}
