.photo-gallery {
  text-align: left;
  border-bottom: hsla(0, 0, 90, 100%) solid 1px;
  margin-top: 36px;
}

.photo-gallery__item {
  border-top: hsla(0, 0, 90, 100%) solid 1px;
  padding: 14px 20px 0;
}

@media (min-width: 768px) {
  .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    border: none;
    margin-top: 0;
    margin-right: 60px;
    margin-left: 60px;
  }

  .photo-gallery__item {
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 0;
    padding-right: 0;
    width: 50%;
    border: none;
    margin-bottom: 13px;
  }
}

@media (min-width: 1200px) {
  .photo-gallery {
    margin: 0;
  }

  .photo-gallery__item {
    padding-top: 0;
    padding-bottom: 0;
  }
}
