.player__top {
  width: 280px;
  height: 45px;
  background-color: hsla(0, 0, 0, 0.6);
  margin-left: 20px;
  position: relative;
}

.player__bottom {
  width: 280px;
  height: 66px;
  margin-left: 20px;
  background-color: hsla(0, 0, 95, 1);
  position: relative;
}
