.radio-button {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 22px;

  @media (min-width: 768px) {
    gap: 19px;
  }
}

.radio-button::before,
.radio-button::after {
  content: "";
  box-sizing: border-box;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  place-self: center;
  width: 56px;
  height: 56px;
  background-color: hsla(0, 0, 95, 100%);
  border-radius: 50%;
}

.radio-button::after {
  width: 22px;
  height: 22px;
  background-color: hsla(0, 0, 20, 100%);
  transition: opacity 0.2s;
}
