.search-hotel__wrapper {
  margin-bottom: 50px;
}

.search-hotel__question {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.motivate-wrapper {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}
