.subfeatures-item__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding-left: 70px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.subfeatures-item__description {
  margin: 0;
  padding-left: 70px;
  padding-right: 40px;
  padding-bottom: 25px;
}
