.subfeature {
  position: relative;
  background-color: white;
  text-align: left;
  padding-top: 3px;
}

.subfeature svg {
  fill: hsla(203, 47, 66, 1);
}

.subfeature__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding-left: 70px;
  padding-right: 40px;
  padding-bottom: 16px;
  text-align: left;
}

.subfeature__description {
  margin: 0;
  padding-left: 70px;
  padding-right: 40px;
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  .subfeature {
    padding-top: 160px;
    text-align: center;
  }

  .subfeature__title {
    padding-left: 40px;
    font-size: 21px;
    text-align: center;
  }

  .subfeature__description {
    padding-top: 5px;
    padding-left: 31px;
    padding-right: 32px;
  }
}

@media (min-width: 1200px) {
  .subfeature__description {
    padding-left: 54px;
    padding-right: 55px;
  }
}
