.subfeatures-list {
  padding-left: 0;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
  padding-top: 32px;
  padding-bottom: 7px;
  list-style: none;
  display: grid;
}

.subfeatures-list__item--food {
  order: 1;
}

.subfeatures-list__item svg {
  position: absolute;
  left: 20px;
  top: 0;
}

@media (min-width: 768px) {
  .subfeatures-list {
    padding: 0;
    grid-template-columns: 256px 256px 256px;
    grid-template-rows: minmax(330px, max-content);
  }

  .subfeatures-list__item svg {
    width: 75px;
    height: 71px;
    left: 90px;
    top: 60px;
  }

  .subfeatures-list__item--food {
    order: 0;
  }
}

@media (min-width: 1200px) {
  .subfeatures-list {
    grid-template-columns: 400px 400px 400px;
  }

  .subfeatures-list__item svg {
    left: 162px;
  }
}
