.subfeatures-list {
  padding-left: 0;
  color: black;
  background-color: white;
  text-align: left;
  padding-top: 35px;
  padding-bottom: 10px;
  list-style: none;
}

.subfeatures-list__item svg {
  position: absolute;
  left: 18px;
  top: -4px;
}

@media (min-width: 768px) {
  .subfeatures-list {
    padding: 0;
    display: grid;
    grid-template-columns: 256px 256px 256px;
    grid-template-rows: minmax(330px, max-content);
  }

  .subfeatures-list__item svg {
    width: 75px;
    height: 72px;
    left: 93px;
    top: 49px;
  }
}

@media (min-width: 1200px) {
  .subfeatures-list {
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: minmax(256px, max-content);
  }

  .subfeatures-list__item svg {
    left: 166px;
  }
}
