.volume {
  width: 100%;
  height: 45px;
}

.volume__scale-bar {
  position: absolute;
  width: 235px;
  height: 3px;
  background-color: hsla(0, 0, 100, 0.2);
  top: 21px;
  left: 22px;
}

.volume__scale-active {
  width: 20%;
  height: 100%;
  background-color: transparent;
}

.volume__toggle {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ffffff;
  top: -2px;
  left: 15%;
}

@media (min-width: 768px) {
  .volume {
    height: 93px;
  }

  .volume__toggle {
    top: -3px;
    left: 29%;
  }

  .volume__scale-bar {
    width: 389px;
    top: 45px;
    left: 93px;
  }
}

@media (min-width: 1200px) {
  .volume__scale-bar {
    width: 540px;
  }

  .volume__scale-active {
    width: 21%;
    height: 100%;
    background-color: transparent;
  }

  .volume__toggle {
    left: 21%;
  }
}
